@import url('https://fonts.googleapis.com/css2?family=Economica:wght@700&family=Raleway:wght@300;500;800&family=Space+Grotesk:wght@300;400;600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat');

:root {
    --bg-clr: #F4F4F9;
    --red-clr: #9B1D20;
    --sc-clr: #bedcdb;
    --EASE_INOUT_QUAD: cubic-bezier(0.455, 0.03, 0.515, 0.955);
    --EASE_IN_QUAD: cubic-bezier(0.55, 0.085, 0.68, 0.53);
    --EASE_OUT_QUAD: cubic-bezier(0.25, 0.46, 0.45, 0.94);

    --COLOR_UI_PHARMACY: #237db5;
    --loaderPill_DURATION: 1800ms;
}

label,
img {
    user-select: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;

}


body {
    font-family: 'Montserrat', sans-serif;
}

.absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loaderPill {
    text-align: center;
}

.loaderPill-anim {
    height: 160px;
}

.loaderPill-anim-bounce {
    animation: loaderPillBounce var(--loaderPill_DURATION) linear infinite;
}

.loaderPill-anim-flop {
    transform-origin: 50% 50%;
    animation: loaderPillFlop var(--loaderPill_DURATION) linear infinite;
}

.loaderPill-pill {
    display: inline-block;
    box-sizing: border-box;
    width: 80px;
    height: 30px;
    border-radius: 15px;
    border: 1px solid var(--COLOR_UI_PHARMACY);
    background-image: linear-gradient(to right, var(--COLOR_UI_PHARMACY) 50%, #ffffff 50%);
}

.loaderPill-floor {
    display: block;
    text-align: center;
}

.loaderPill-floor-shadow {
    display: inline-block;
    width: 70px;
    height: 7px;
    border-radius: 50%;
    background-color: color(var(--COLOR_UI_PHARMACY) alpha(26%));
    transform: translateY(-15px);
    animation: loaderPillScale var(--loaderPill_DURATION) linear infinite;
}

.loaderPill-text {
    font-weight: bold;
    color: var(--COLOR_UI_PHARMACY);
    text-transform: uppercase;
}

.toggle-button-cover {
    display: flex;
    position: relative;
    width: 120px;
    height: 50px;
    box-sizing: border-box;
}

.button-cover {
    height: 100px;
    margin: 20px;
    background-color: #fff;
    box-shadow: 0 10px 20px -8px #c5d6d6;
    border-radius: 4px;
}

.button-cover:before {
    counter-increment: button-counter;
    content: counter(button-counter);
    position: absolute;
    right: 0;
    bottom: 0;
    color: #d7e3e3;
    font-size: 12px;
    line-height: 1;
    padding: 5px;
}

.button-cover,
.knobs,
.layer {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.button {
    position: relative;
    top: 50%;
    width: 74px;
    height: 36px;
    margin: -20px auto 0 auto;
    overflow: hidden;
}

.checkbox {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.knobs {
    z-index: 2;
}

.layer {
    width: 100%;
    background-color: #ebf7fc;
    transition: 0.3s ease all;
    z-index: 1;
}

.button.r,
.button.r .layer {
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#button-3 .knobs:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 4px;
    width: 20px;
    height: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 12px 12px;
    background-color: #03a9f4;
    border-radius: 50%;
    transition: 0.3s ease all, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);
}


#button-3 .checkbox:active+.knobs:before {
    width: 46px;
    border-radius: 100px;
}

#button-3 .checkbox:checked:active+.knobs:before {
    margin-left: -26px;
}

#button-3 .checkbox:checked+.knobs:before {
    content: "";
    left: 42px;
    background-color: #f44336;
}

#button-3 .checkbox:checked~.layer {
    background-color: #fcebeb;
}

@keyframes loaderPillBounce {
    0% {
        transform: translateY(123px);
        animation-timing-function: var(--EASE_OUT_QUAD);
    }

    25% {
        transform: translateY(40px);
        animation-timing-function: var(--EASE_IN_QUAD);
    }

    50% {
        transform: translateY(120px);
        animation-timing-function: var(--EASE_OUT_QUAD);
    }

    75% {
        transform: translateY(20px);
        animation-timing-function: var(--EASE_IN_QUAD);
    }

    100% {
        transform: translateY(120px);
    }
}

@keyframes loaderPillFlop {
    0% {
        transform: rotate(0);
    }

    25% {
        transform: rotate(90deg);
    }

    50% {
        transform: rotate(180deg);
    }

    75% {
        transform: rotate(450deg);
    }

    100% {
        transform: rotate(720deg);
    }
}

@keyframes loaderPillScale {
    0% {
        transform: translateY(-15px) scale(1, 1);
        animation-timing-function: var(--EASE_OUT_QUAD);
    }

    25% {
        transform: translateY(-15px) scale(0.7, 1);
        animation-timing-function: var(--EASE_IN_QUAD);
    }

    50% {
        transform: translateY(-15px) scale(1, 1);
        animation-timing-function: var(--EASE_OUT_QUAD);
    }

    75% {
        transform: translateY(-15px) scale(0.6, 1);
        animation-timing-function: var(--EASE_IN_QUAD);
    }

    100% {
        transform: translateY(-15px) scale(1, 1);
    }
}

.bg-image {
    background-image: url(../images/thomas-langnes-M6JMfzye72E-unsplash.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    min-width: min(20rem, 50%);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: -3;
}

svg {
    min-width: 100%;
    padding: 3rem;
    background-color: rgba(255, 255, 255, 0.6);
    flex: 0.2;
}

a {
    position: relative;
    z-index: 200;
}

.form-container {
    background-image: url(../images/bg.svg);
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    flex: 1;
    height: calc(100vh - 4rem);
    align-items: flex-start;
    margin-top: 4rem;
    background-color: var(--bg-clr);

}

form {
    padding: 0rem 2rem;
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    position: relative;

}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 201;
    background-color: var(--sc-clr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loading-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, Helvetica, sans-serif;
    color: #1b4543;
    padding-top: 1rem;
    padding-left: 0.4rem;
}

.loader {
    user-select: none;
    position: relative;
    width: 100px;
    height: 100px;
    overflow: hidden;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: end;
}

.loader img {
    width: 85%;
    flex-shrink: 0;
    height: auto;
}

.loader:before,
.loader:after {
    content: '';
    border-radius: 50%;
    position: absolute;
    overflow: hidden;
    inset: 0;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3) inset;

}

.loader:after {
    box-shadow: 0 2px 0 #1b4543 inset;
    animation: rotate 2s linear infinite;
}

.down {
    transform: translateY(6.3rem);
    -webkit-transform: translateY(6.3rem);
    -moz-transform: translateY(6.3rem);
    -ms-transform: translateY(6.3rem);
    -o-transform: translateY(6.3rem);
    padding-bottom: 1rem;
}

button {
    flex-grow: 1;
    margin-bottom: 1em;
    border: none;
    background-color: var(--sc-clr);
    padding: 0.7rem;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: ease-in-out all 200ms;
    -webkit-transition: ease-in-out all 200ms;
    -moz-transition: ease-in-out all 200ms;
    -ms-transition: ease-in-out all 200ms;
    -o-transition: ease-in-out all 200ms;
}


.wrapper {
    --font-color-dark: #fefefe;
    --font-color-light: #111;
    --bg-color: var(--COLOR_UI_PHARMACY);
    --main-color: #fefefe;
    position: relative;
    width: 250px;
    height: 36px;
    background-color: red;
    border: none;
    border-radius: 1rem;
    display: flex;
    flex-direction: row;
    box-shadow: 4px 4px var(--main-color);
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
}

.option {
    width: 80.5px;
    height: 28px;
    position: relative;
    border: none;
    top: 2px;
    left: 2px;
}

.input {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    appearance: none;
    cursor: pointer;
}

.btn {
    width: 100%;
    height: 100%;
    background-color: var(--bg-color);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.span {
    color: var(--font-color-dark);
}

.input:checked+.btn {
    background-color: var(--main-color);
}

.input:checked+.btn .span {
    color: var(--font-color-light);
}

button:hover {
    cursor: pointer;
    background: #3c7876;
    font-weight: bold;
}

#password:focus+#submit {
    transform: translateY(calc(20px + 2em));
}

.required {
    color: var(--red-clr);
}

input:focus {
    border: solid black 1.5px;
    border-bottom: solid 3px;
    outline: none;
}

input {
    border: black solid 1.5px;
    border-bottom: #3c7876 solid 3px;
    border-radius: 0.4rem;
    -webkit-border-radius: 0.4rem;
    -moz-border-radius: 0.4rem;
    -ms-border-radius: 0.4rem;
    -o-border-radius: 0.4rem;
}


input:valid {

    border: #1b4543 solid 1.5px;
    border-bottom: solid #1b4543 3px;
}

input:invalid {
    border-bottom: var(--red-clr) solid 3px;
}

.displaynone {
    display: none;
}

a {
    color: #3c7876
}

a:hover {
    color: #1b4543;
}



label {
    display: block;
}

.jk {
    display: block;
    font-size: 0.7rem;
    color: #1b4543;
    text-align: center;
}

.reddish {
    color: var(--red-clr)
}

.intro {
    display: inline;
    margin: 1.2em;
    position: relative;
    background-color: white;
}


.my-animation {
    animation-name: my-animation;
    animation-duration: 230ms;
    -webkit-animation-fill-mode: forwards;
    /* Chrome 16+, Safari 4+ */
    -moz-animation-fill-mode: forwards;
    /* FF 5+ */
    -o-animation-fill-mode: forwards;
    /* Not implemented yet */
    -ms-animation-fill-mode: forwards;
    /* IE 10+ */
    animation-fill-mode: forwards;
}

.hi,
.arm {
    z-index: -1;
    opacity: 0;
    transform: scale(-2);
    height: 6em;
    width: auto;
    position: absolute;
    left: 150px;
    top: -8px;
    -webkit-transform: scale(-2);
    -moz-transform: scale(-2);
    -ms-transform: scale(-2);
    -o-transform: scale(-2);
}

#my-arm {
    z-index: 6;

}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes my-animation {
    from {
        opacity: 1;
        transform: scale(0);
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    0.85% {
        opacity: 0;
    }

    to {
        opacity: 1;
        transform: translateY(-4.8em);
        -webkit-transform: translateY(-4.8em);
        -moz-transform: translateY(-4.8em);
        -ms-transform: translateY(-4.8em);
        -o-transform: translateY(-4.8em);
    }
}


.options {
    background-color: white;
    padding: 1em;
    border-radius: 1em;
    border: red 2px solid;
    -webkit-border-radius: 1em;
    -moz-border-radius: 1em;
    -ms-border-radius: 1em;
    -o-border-radius: 1em;
}

@media screen and (max-width: 1040px) {
    .bg-image {
        height: 9rem;
        width: 100vw;
    }

    .form-container {
        max-height: calc(100vh - 11rem);
        align-items: center;
        justify-content: flex-start;
    }

    svg {
        position: sticky;
        z-index: -3;
        background-color: rgba(255, 255, 255, 0.3);
        padding: 1rem 4rem;
        min-height: 100%;
    }

    .btn {
        justify-content: center;
        align-items: center;
    }

    .container {
        justify-content: center;
        align-items: center;
    }

    form {
        justify-content: center;
        align-items: center;
    }

    .form-container {
        margin-top: 0rem;
    }

    .shown {
        transform: translateY(7.5em);
        -webkit-transform: translateY(7.5em);
        -moz-transform: translateY(7.5em);
        -ms-transform: translateY(7.5em);
        -o-transform: translateY(7.5em);
    }
}

@media screen and (max-width: 522px) {
    .shown {
        transform: translateY(14rem);
        -webkit-transform: translateY(14rem);
        -moz-transform: translateY(14rem);
        -ms-transform: translateY(14rem);
        -o-transform: translateY(14rem);
        max-width: 13rem;

    }

    svg {
        top: 0rem;
    }

    .down {
        transform: translateY(9.6rem);
        -webkit-transform: translateY(9.6rem);
        -moz-transform: translateY(9.6rem);
        -ms-transform: translateY(9.6rem);
        -o-transform: translateY(9.6rem);
        padding-bottom: 1rem;
    }
}