<!DOCTYPE html>
<html>
<head>
    <title>ML Model Deployment</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Enter User Information</h1>
    <form id="prediction-form" method="post">
        <label for="smoking">1. Smoking:</label>
        <input type="text" name="smoking" id="smoking" required><br>

        <label for="age">2. Age:</label>
        <input type="text" name="age" id="age" required><br>

        <label for="bmi">3. BMI:</label>
        <input type="text" name="bmi" id="bmi" required><br>

        <label for="glucose">4. Average Glucose Level:</label>
        <input type="text" name="glucose" id="glucose" required><br>

        <label for="marry">5. Married:</label>
        <input type="text" name="marry" id="marry" required><br>

        <label for="hyper_tention">6. Hyper Tension:</label>
        <input type="text" name="hyper_tention" id="hyper_tention" required><br>

        <label for="heart_disease">7. Heart Disease:</label>
        <input type="text" name="heart_disease" id="heart_disease" required><br>

        <label for="work_state">8. Work State:</label>
        <input type="text" name="work_state" id="work_state" required><br>

        <input type="submit" value="Predict">
    </form>
    
    <div id="prediction-result" style="display: none;">
        <h2>Prediction Result</h2>
        <p id="result-text"></p>
    </div>

    <script>
        
document.getElementById("prediction-form").addEventListener("submit", function (event) {
    event.preventDefault(); // Prevent form submission

    // Collect user input data from form
    var formData = new FormData(event.target);

    // Send a POST request to the server (Flask) for prediction
    fetch("/predict", {
        method: "POST",
        body: formData
    })
    .then(response => response.json())
    .then(data => {
        // Display the prediction result on the page
        document.getElementById("result-text").textContent = data.result;
        document.getElementById("prediction-result").style.display = "block";
        
        // Reset the form to clear previous input
        document.getElementById("prediction-form").reset();
    })
    .catch(error => console.error("Error:", error));
});

    </script>
</body>
</html>
